<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />

    <title>index</title>
    <script src="/staticFile/js/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#getMessageBtn').click(function(){
                var formUser = $('#formUser').val();
                $.post('/getMessage', {"formUser":formUser}, function(_data){
                    alert(JSON.stringify(_data));
                });
            });
            $('#sendMessageBtn').click(function(){
                $.post('/sendMessage', $('#messageForm').serialize(), function(_data){
                    alert(JSON.stringify(_data));
                });
            });
//            $('.dropdown-menu a').click(function(){
//                alert('aaa');
//                $.get('/nav', {}, function(_data){
//                    $('#context').html(_data);
//                    alert(_data);
//                });
//            });
        });

    </script>

</head>
<body style="text-align: center;">
    <div style="width:1024px;margin:0 auto;">

        <div id="context" >
        </div>
        <form id="messageForm">
            <label>发信人</label>
            <input type="text" name="formUser" id="formUser" />
            <br/>
            <label>收信人</label>
            <input type="text" name="toUser" id="toUser" />
            <br/>
            <label>信息</label>
            <textarea name="msgContext" id="msgContext"></textarea>
            <br/>
            <input type="button" value="发送信息" id="sendMessageBtn"/>
            <br/>
            <input type="button" value="获取信息" id="getMessageBtn"/>
            <br/>
        </form>
    </div>

</body>
</html>