<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="SYS_LOG_DIR" value="/www/logs" />
    <property name="LOG_FILE" value="ltsh-chat-web.log" />
    <property name="fileLayoutPattern"
              value="[%-5p][%date][%X{flowKeep}][%X{keep}][%C{1}:%L] %m%n" />
    <property name="consoleLayoutPattern"
              value="[%-5p][%date][%X{flowKeep}][%X{keep}][%C{1}:%L] %m%n" />

    <!-- 用来保存输出所有级别的日志 -->
    <appender name="LOG_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${SYS_LOG_DIR}/${LOG_FILE}</File><!-- 设置日志不超过${log.max.size}时的保存路径，注意如果
            是web项目会保存到Tomcat的bin目录 下 -->
        <!-- 滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件。 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SYS_LOG_DIR}/%d{yyyy-MM-dd}/${LOG_FILE}_%d{yyyy-MM-dd}_%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- 日志输出的文件的格式 -->
        <encoder>
            <pattern>${consoleLayoutPattern}</pattern>
            <immediateFlush>true</immediateFlush>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${consoleLayoutPattern}</pattern>
            <immediateFlush>true</immediateFlush>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <logger name="java.sql.PreparedStatement" level="DEBUG" />
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="com.ibatis" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
    <!-- <logger name="org.springframework" level="ERROR" />  -->
    <logger name="net.sf.ehcache" level="ERROR"/>
    <!-- <logger name="org.mybatis.spring" level="ERROR"/> -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" /> <!-- 控制台输出 -->
        <appender-ref ref="LOG_ROLLING" /> <!-- 文件输出 -->
    </root>
</configuration>