<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />

    <title>index</title>
    <script th:src="@{/js/jquery-1.7.2.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function(){
            getMessage();

            $('#clearBtn').click(function(){
                $('#context').html("");
            });


            $('#sendMessageBtn').click(function(){
                $.ajax({
                    type: "POST",
                    url: "/chat/demo/sendMessage",
                    data: $('#messageForm').serialize(),
                    dataType: "json",
                    timeoutNumber: 60000,
//                async: false,
                    success: function(msg){
                        //alert(JSON.stringify(msg));
                    },
                    error:function(){
                    }
                });

            });
//            $('.dropdown-menu a').click(function(){
//                alert('aaa');
//                $.get('/nav', {}, function(_data){
//                    $('#context').html(_data);
//                    alert(_data);
//                });
//            });
        });
        function getMessage(){
            var token = $('#token').val();
            if(token != '' && token != null) {
                $.ajax({
                    type: "POST",
                    url: "/chat/demo/getMessage",
                    data: {"token":token},
                    dataType: "json",
                    timeoutNumber: 60000,
//                async: false,
                    success: function(msg){
                        if(msg["code"] == "000000" ) {
                            if(msg["content"] != null) {
                                var content = msg["content"];
                                var context = "<dl>";
                                context += "<dt>"+content["sendUser"]+"</dt>";
                                context += "<dd>"+content["msgContext"]+"</dd>";
                                context += "</dl>";
                                $('#context').append(context);
                            }

                        }
                    },
                    complete:function(){
                        setTimeout('getMessage()', 5000);
                    }
                });
            } else {
                setTimeout('getMessage()', 5000);
            }

        }
        /*]]>*/
    </script>
    <style type="text/css">
        #context dl{
            width:400px;
            -webkit-margin-before: 5px;
            -webkit-margin-after: 5px;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }
        #context dl dt{
            color: #1b809e;
        }
        #context dl dd{
            -webkit-margin-start:5px;
            marking-left: 5px;
        }
    </style>
</head>
<body style="">
    <div style="">

        <input type="button" value="清除聊天记录" id="clearBtn"/>

        <form id="messageForm">
            <label>token</label>
            <input th:type="text" name="token" id="token" />
            <br/>
            <label>发信人</label>
            <input type="text" name="formUser" id="formUser" />
            <br/>
            <label>收信人</label>
            <input type="text" name="toUser" id="toUser" />
            <br/>
            <label>信息</label>
            <textarea name="msgContext" id="msgContext"></textarea>
            <br/>

            <br/>
        </form>
        <input type="button" value="发送信息" id="sendMessageBtn"/>
    </div>
    <div id="context" >
        <dl>
            <dt>test</dt>
            <dd>aaa</dd>
        </dl>
    </div>
</body>
</html>