<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:/application.properties</value>
            </list>
        </property>
    </bean>
    <!--<context:component-scan base-package="com.ltsh.chat.web.controller"/>-->
    <!--<context:component-scan base-package="com.ltsh.chat.web.common.aop"/>-->
    <!--<aop:aspectj-autoproxy/>-->

    <!--<aop:config>-->
        <!--<aop:aspect id="controllerAspect" ref="aspectBean">-->
            <!--&lt;!&ndash;配置com.spring.service包下所有类或接口的所有方法&ndash;&gt;-->
            <!--<aop:pointcut id="businessService" expression="execution(* com.ltsh.chat.web.controller.*.*.*(..))" />-->
            <!--<aop:before pointcut-ref="businessService" method="doBefore"/>-->
            <!--<aop:after pointcut-ref="businessService" method="doAfter"/>-->
            <!--<aop:around pointcut-ref="businessService" method="doAround"/>-->
            <!--<aop:after-throwing pointcut-ref="businessService" method="doAfterThrow" throwing="ex"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
    <!--<bean id="aspectBean" class="com.ltsh.chat.web.common.aop.ControllerAspect" />-->
    <bean id="springContextUtils" class="com.ltsh.common.client.spring.SpringContextUtils"></bean>


    <import resource="classpath:spring/spring-service.xml" />
    <!--<import resource="classpath:spring/spring-client-all.xml" />-->

</beans>